<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- <property name="hibernate.connection.url">jdbc:mysql://hospital-db.c2pwz786vqox.us-east-1.rds.amazonaws.com:3306/hospitaldb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">rootroot</property>  -->
		
		 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospitaldb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property> 
		
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		
		<mapping class="com.neu.pojo.Appointment"/>
		<mapping class="com.neu.pojo.Payment"/>
		<mapping class="com.neu.pojo.Prescription"/>
		<mapping class="com.neu.pojo.User"/>
		<mapping class="com.neu.pojo.BloodBank"/>
		<mapping class="com.neu.pojo.Events"/>

	
	</session-factory>
</hibernate-configuration>
